extends layout

block container
 .container
  .row
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
      h1 Error 404
      hr.small
      span.subheading Unfortunately, this file doesn't seem to exist.
